# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\nik\CodeCraft\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
